beautifulsoup4==4.6.3
certifi==2018.10.15
chardet==3.0.4
Django==2.2
django-widget-tweaks==1.4.3
feedparser==5.2.1
idna==2.7
python-dotenv==0.10.3
pytz==2019.1
requests==2.20.1
sqlparse==0.3.0
urllib3==1.24.1
