{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' with form=form %}
    <button type="submit" class="btn btn-secondary">Save</button>
  </form>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Email</th>
        <th>SMTP key</th>
        <th>삭제</th>
      </tr>
    </thead>
    {% for setting in settings %}
      <tbody>
        <tr>
          <td>{{setting.email}}</td>
          <td>{{setting.smtp_key|asterisk}}</td>
          <td><a
            href="{% url 'mail:delete_setting' setting.id %}"
            onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a></td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
{% endblock %}
